header {
    z-index: 100;
    font-size: 1.1em;
    letter-spacing: 3px;
}

#hero-section {
    background-image: url("../assets/images/architect.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#br-text {
    padding: 8px 20px;
    letter-spacing: 3px;
    background-color: rgba(0, 0, 0, 0.75);
}

#a-text {
    letter-spacing: 3px;
    font-weight: 400;
}

#projects-section .card {
    margin-bottom: 16px;
}

#about-section img {
    filter: grayscale(70%);
}